scs==2.0.2
numpy==1.16.2
scipy==1.2.1
cvxpy==1.0.21
cvxopt==1.2.3
Pillow==5.3.0
Flask==0.12.2
google-cloud-datastore==1.6.0
gunicorn==19.7.1
Flask-SQLAlchemy==2.3.2
PyMySQL==0.8.0
PyMongo==3.6.0
six==1.11.0
Flask-RESTful==0.3.5
diskcache==3.0.6
google-api-python-client==1.5.0
boto3==1.2.3
botocore==1.10.30
pandas==0.23.0
azure==3.0.0
sympy==1.1.1
PyYAML==3.12
openpyxl==2.5.3
pandas-gbq==0.4.1
python-appengine==1.9.15
google-cloud-storage==1.15.0
xlrd==1.1.0
pycrypto==2.6.1
opencv-python==3.3.0.9
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
google-compute-engine==2.8.3
pymemcache==2.0.0
Flask-HTTPAuth==3.2.4
pyfcm==1.4.5
google-cloud-vision==0.35.1
jsonschema==2.6.0
statistics==1.0.3.5
shapely==1.6.4.post2
gspread==3.1.0
oauth2client==4.1.3
onesignal-sdk==1.0.0
pydash==4.7.4
elasticsearch==7.0.0
redis==3.2.1
google-cloud-bigquery==1.11.3
colorlog==4.0.2
google-cloud-logging==1.10.0
google-cloud-error-reporting==0.31.0
sendgrid
python_http_client
